

.product {
    width: 16rem;
}

.product-image {
    height: 12rem;
}

.product-header {
    font-size: 15px;
}

.product-button {
    width: 5rem;
    align-self: center;
}

.product-link {
    text-decoration: none;
    color: white;
}